@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

:root {
    /*font-size*/
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-36: 36px;
    --fs-39: 39px;
    --fs-48: 48px;
    --fs-96: 96px;

    /*font-weight*/
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /*color*/
    --color-org: #f06500;
    --color-white: #fff;
    --color-grey: #B8B7B7;

    /*font-family*/
    --ff-poppins: 'poppins', 'sans serif';
}

.bg-black {
    background-color: #000000;
}

.s4-bg-color {
    background-color: #1D1A1A;
}

.color-grey {
    color: var(--color-grey);
}

.color-orange {
    color: var(--color-org);
}

.color-white {
    color: var(--color-white);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-22 {
    font-size: var(--fs-22);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-96 {
    font-size: var(--fs-96);
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.ff-poppins {
    font-family: "poppins", sans-serif;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: -12px;
    padding-right: -12px;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.right-0 {
    right: 0 !important;
}

.mt-6 {
    margin-top: 6%;
}

.mt-8 {
    margin-top: 8px;
}

.mt-14 {
    margin-top: 14%;
}

.my-17 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.mt-22 {
    margin-top: 22px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-60 {
    margin-top: 60px;
}

.mx-55 {
    padding-left: 55px;
    padding-right: 55px;
}

.mt-94 {
    margin-top: 94px;
}

.mb-100 {
    margin-bottom: 100px;
}

.py-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.py-17 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.pt-20 {
    padding-top: 20%;
}

.pl-13 {
    padding-left: 13%;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.pt-16 {
    padding-top: 16%;
}

.py-22 {
    padding-top: 22px;
    padding-bottom: 22px;
}

.p-24 {
    padding: 24px;
}

.pt-24 {
    padding-top: 24px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pt-40 {
    padding-top: 40%;
}

.pt-48 {
    padding-top: 48px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.p-70 {
    padding: 70px;
}

.pt-100 {
    padding-top: 100px;
}

.py-100 {
    padding-top: 165px;
    padding-bottom: 200px;
}

.mb-456 {
    margin-bottom: 456px;
}

.gap-25 {
    gap: 25px;
}

.gap-32 {
    gap: 32px;
}

.gap-55 {
    gap: 55px;
}

.gap-100 {
    gap: 100px;
}

.overflow {
    overflow: hidden;
}

.cursor {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.text-align-right {
    text-align: right;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.padding-card {
    padding: 70px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.object-fit-contain {
    object-fit: contain;
}

.overflow-lg-auto {
    overflow-x: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.table-min-width {
    min-width: 800px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    top: 0;
    z-index: 23;
    position: sticky;
}

nav {
    overflow: hidden;
}

.navbg {
    background: #000000bf;
    backdrop-filter: blur(8px);
}

nav a {
    font-size: 20px;
    color: #ffffff;
}

.overflow-hidden {
    overflow: hidden;
}

.HOME:hover {
    color: #ff4500;
    transition: all 250ms linear;
}

.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/bg-img.png");
}

.common-btn:hover {
    color: #ff4500;
    transition: all 250ms linear;
    background: var(--Gradient-H, linear-gradient(90deg, #ffffff 0%, #ffffff 100%));
}

.btn-Connect-Wallet {
    gap: 10px;
    z-index: 4;
    border: none;
    outline: none;
    padding: 7px 23px;
    position: relative;
    border-radius: 23px;
    display: inline-flex;
    align-items: flex-start;
    background: var(--Gradient-H, linear-gradient(90deg, #FFA800 0%, #F06500 100%));
}

.btn-Learn-more {
    gap: 10px;
    border: none;
    outline: none;
    padding: 7px 23px;
    border-radius: 23px;
    display: inline-flex;
    align-items: flex-start;
    background: var(--Gradient-H, linear-gradient(90deg, #FFA800 0%, #F06500 100%));
}

.Opacity {
    Opacity: 70%;
}

.section-1-mw-660 {
    max-width: 660px;
}

.section-3-mw-660 {
    max-width: 660px;
}

.section-4-mw-660 {
    max-width: 660px;
}

.section-1-para-mw-660 {
    max-width: 660px;
}

.section-3-para-mw-660 {
    Opacity: 70%;
    max-width: 660px;
}

.card-para-mw-1272 {
    max-width: 1272px;
}

.card-para2-mw-1272 {
    Opacity: 70%;
    max-width: 1272px;
}

.section-4-text-mw-218 {
    max-width: 218px;
}

.section-4-text_mw_403 {
    Opacity: 70%;
    max-width: 403px;
}

.section-4-para-mw-660 {
    Opacity: 70%;
    max-width: 660px;
}

.Tokenomics {
    max-width: 297px;
}

.Liquidity {
    max-width: 90px;
}

.When {
    Opacity: 70%;
    max-width: 92px;
}

.Sed {
    max-width: 228px;
}

.Roadmap {
    max-width: 242px;
}

.Massa {
    width: 305px;
    Opacity: 70%;
    height: 128px;
}

.massa {
    width: 305px;
    Opacity: 70%;
    height: 128px;
    margin-left: 38%;
}

.FAQ {
    max-width: 98px;
}

.Volutpat {
    max-width: 449px;
}

.Amet {
    Opacity: 70%;
    display: none;
    max-width: 1288px;
}

.transform_1 {
    transform: translate(0%, -28%);
}

.Section-1-blur-img {
    top: 74%;
    position: absolute;
}

.z-index {
    z-index: 3;
}

.border-spacing-0 {
    border-spacing: 0;
}

.box {
    z-index: 3;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #121111;
    border: 1px solid #474646;
}

.box-1 {
    z-index: 3;
    padding: 24px;
    height: 154px;
    max-width: 424px;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(16px);
    border: 1px solid #504F4F;
    background: linear-gradient(94.88deg, #ffffff0d 0.97%, #ffffff00 103.14%);
}

.box-1:hover {
    background: linear-gradient(95deg, #ffffff1a 0.97%, #ffffff00 103.14%);
}

.box-number {
    padding: 12px;
    cursor: pointer;
    border-radius: 100px;
    background-color: #151313;
    transition: all 250ms linear;
}

.number {
    max-width: 75px;
}

.number:hover {
    color: #ff4500;
    cursor: pointer;
}

.box-number:hover {
    background: #000000;
    transition: all 250ms linear;
}

.box-number:hover .circle {
    color: #ffffff;
    transition: all 250ms linear;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
}

.card-1 {
    gap: 10px;
    z-index: 3;
    height: 100%;
    display: flex;
    padding: 24px;
    position: relative;
    max-width: 1320px;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #454443;
    backdrop-filter: blur(40px);
    background: linear-gradient(94.88deg, #ffffff0d 0.97%, #ffffff00 103.14%);
}

.card-2 {
    gap: 10px;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 100px;
    border: 1px solid #000000;
    background-color: #151313;
}

.card-3 {
    z-index: 3;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(16px);
    border: 1px solid #474646;
    background: linear-gradient(95deg, #ffffff1a 0.97%, #ffffff00 103.14%);
}

.circle {
    padding: 0;
    width: 71px;
    height: 71px;
    cursor: pointer;
    color: #000000;
    border-radius: 100%;
    background-color: #ffffff;
    transition: all 250ms linear;
}

.accord-para {
    display: none;
}

.ellipse-left-dotted {
    left: 0;
    top: 156%;
    opacity: 0.5;
    position: absolute;
}

.Ellipse-left-dotted {
    left: 0;
    top: 480%;
    opacity: 0.5;
    position: absolute;
}

.ellipse-right-dotted {
    right: 0;
    top: 107%;
    opacity: 0.5;
    position: absolute;
}

.ellipse-right-shine {
    right: 0;
    top: 410%;
    opacity: 0.5;
    position: absolute;
}

.last-ellipse {
    right: 0;
    top: 75%;
    opacity: 0.5;
    position: absolute;
}

.Section-2-ellipse {
    top: 130%;
    left: 31%;
    opacity: 0.3;
    position: absolute;
    filter: blur(330px);
    background: #F06500;
}

.roadmap {
    position: relative;
}

.roadmap::after {
    top: 2%;
    left: 50%;
    width: 6px;
    bottom: 23%;
    height: 75%;
    content: '';
    margin-left: -3px;
    position: absolute;
    background-color: #ffffff;
}

.container2 {
    width: 50%;
    padding: 10px 76px;
    position: relative;
    background-color: inherit;
}

.container2::after {
    top: 1%;
    z-index: 1;
    content: '';
    width: 36px;
    right: -19%;
    left: 97.5%;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -15px;
}

.left::before {
    width: 0;
    height: 0;
    top: 22px;
    z-index: 1;
    right: 30px;
    content: " ";
    display: none;
    overflow: hidden;
    position: absolute;
    border-width: 10px 0 10px 10px;
    border: 4px solid #FFA800;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
}

.right::before {
    width: 0;
    height: 0;
    top: 22px;
    z-index: 1;
    left: 10px;
    content: " ";
    display: none;
    overflow: hidden;
    position: absolute;
    border: medium solid #ffa500;
    border-width: 10px 0 10px 10px;
    border: 5px solid #FFA800;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
}

@media (max-width:1440px) {
    .py-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .Section-2-ellipse {
        top: 0;
    }
}

@media (max-width: 1220px) {
    :root {
        --fs-14: 11px;
        --fs-28: 24px;
        --fs-96: 77px;
    }

    .transform_1 {
        transform: translate(0%, -22%);
    }

    .massa {
        margin-left: 12%;
    }
}

@media (max-width:1029.33px) {
    :root {
        --fs-48: 35px;
    }

    .transform_1 {
        transform: translate(0%, -9%);
    }

    .Section-1-blur-img {
        top: 80%;
    }

    .Section-2-ellipse {
        top: 0;
        left: 0;
    }
}

@media (max-width: 1024px) {
    :root {
        --fs-14: 11px;
        --fs-28: 24px;
        --fs-48: 35px;
        --fs-96: 70px;
    }

    .transform_1 {
        transform: translate(0%, -20%);
    }

    .massa {
        margin-left: 12%;
    }
}

@media (max-width: 992px) {
    .menuIcon {
        z-index: 1;
        width: 30px;
        height: 30px;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-between;
    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background-color: #ffffff;
    }

    .smView {
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        right: -100%;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        background: #000000bf;
        backdrop-filter: blur(8px);
        transition: all 200ms linear;
    }

    .smView.show {
        right: 0;
        opacity: 1;
    }

    :root {
        --fs-22: 16px;
        --fs-48: 34px;
        --fs-96: 70px;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0;
    }

    .py-lg-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .pt-lg-20 {
        padding: 0;
    }

    .p-lg-12 {
        padding: 12px;
    }

    .roadmap::after {
        left: 33px;
        bottom: 155px;
    }

    .container2::after {
        top: 6%;
    }

    .mt-lg-6 {
        margin-top: 6%;
    }

    .pt-40 {
        padding-top: 25%;
    }

    .pt-40 {
        padding-top: 5%;
    }

    .transform_1 {
        transform: translate(0%, -17%);
    }

    .text-align-lg-left {
        text-align: left;
    }

    .justify-content-lg-center {
        justify-content: center;
    }

    .lg-relative {
        position: relative;
    }

    .col-4 {
        width: 50%;
    }

    .massa {
        margin-left: 0;
    }

    .text-align-right {
        text-align: left;
    }

    .py-100 {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .mt-94 {
        margin-top: 0;
    }

    .Section-2-ellipse {
        left: 0;
    }

    .massa {
        width: 555px;
    }

    .Massa {
        width: 555px;
    }

    .d-none {
        display: none;
    }
}

@media (max-width:678px) {
    .Section-2-ellipse {
        left: -69px;
    }
}

@media (max-width:768px) {
    :root {
        --fs-96: 96px;
    }

    .col-md-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .transform_1 {
        transform: translate(0%, -23%);
    }

    .text-align-md-left {
        text-align: left;
    }

    .Section-1-blur-img {
        position: absolute;
        top: 139%;
    }

    .massa {
        width: 555px;
    }

    .Massa {
        width: 555px;
    }
}

@media (max-width:600px) {
    :root {
        --fs-48: 30px;
        --fs-96: 81px;
    }

    .container2 {
        width: 100%;
    }

    .transform_1 {
        transform: translate(0%, -15%);
    }

    .Section-2-ellipse {
        left: -22%;
    }

    .massa {
        width: 438px;
    }

    .Massa {
        width: 438px;
    }
}

@media (max-width:500px) {
    :root {
        --fs-18: 16px;
        --fs-22: 18px;
        --fs-48: 24px;
        --fs-96: 58px;
    }

    .transform_1 {
        transform: translate(0%, -11%);
    }

    .circle {
        width: 75px;
        height: 60px;
    }

    .col-4 {
        width: 100%;
    }

    .mx-55 {
        padding: 0;
    }

    .Section-2-ellipse {
        left: -50%;
    }

    .massa {
        width: 325px;
    }

    .Massa {
        width: 325px;
    }
}

@media (max-width:400px) {
    :root {
        --fs-18: 14px;
        --fs-22: 14px;
        --fs-96: 57px;
    }

    .transform_1 {
        transform: translate(0%, -9%);
    }

    .Section-1-blur-img {
        top: 149%;
    }

    .Section-2-ellipse {
        left: -83%;
    }

    .massa {
        width: 216px;
    }

    .Massa {
        width: 216px;
    }
}

@media (max-width:320px) {
    :root {
        --fs-18: 14px;
        --fs-22: 13px;
        --fs-48: 22px;
        --fs-96: 44px;
    }

    .col-sm-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mx-55 {
        padding: 0;
    }

    .circle {
        width: 100px;
    }

    .gap-sm-57 {
        gap: 57px;
    }

    .box-1 {
        width: 100%;
    }

    .transform_1 {
        transform: translate(0%, -6%);
    }

    .gap-sm-25 {
        gap: 25px;
    }

    .massa {
        width: 222px;
    }

    .Massa {
        width: 222px;
    }

    .Section-2-ellipse {
        left: -128%;
    }

    .d-none {
        display: none;
    }
}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}